---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Educación">
  <h2>Formación académica</h2>
  <ul>
    <li><strong>CUN</strong> – Ingeniería de sistemas (2025-2026)</li>
    <li><strong>SENA</strong> – Tecnólogo en gestión de redes (2019-2021)</li>
    <li><strong>Universidad Católica de Pereira</strong> – Desarrollo de software (2022-2023)</li>
    <li><strong>Platzi</strong> – DevOps & Cloud Computing (2023)</li>
  </ul>
</Layout>
