---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sobre mí">
  <h2>Sobre mí</h2>
  <p>Con experiencia en Gestión de Operaciones de TI, he impulsado la eficiencia y el rendimiento óptimo de infraestructuras tecnológicas. Lidero equipos y proyectos estratégicamente, con profundo conocimiento en sistemas, redes y tecnologías, para entregar resultados exitosos.</p>
</Layout>
