---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Certificaciones">
  <h2>Certificaciones</h2>
  <ul>
    <li>Terraform - Infraestructura como código</li>
    <li>Microsoft Certified: Azure Fundamentals</li>
    <li>Docker: Fundamentos</li>
    <li>ITIL 4 Foundation</li>
    <li>Inteligencia Artificial para el Trabajo</li>
  </ul>
</Layout>
