---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contacto">
  <h2>Contacto</h2>
  <p>Puedes escribirme a <a href="mailto:nixon2045@gmail.com">nixon2045@gmail.com</a></p>
  <p>También puedes visitar mi perfil de <a href="https://www.linkedin.com/in/nixon-betancour" target="_blank">LinkedIn</a>.</p>
</Layout>
